html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(2, 83, 94),rgba(7, 7, 7, 0));
  }

  .calculator {
    border: 1px solid;
    height: 26.5em;
    width: 17em;
    margin-top: 10em;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(118, 139, 139);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
  }
  .display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2px;
    height: 5em;
        
  }

  .previous-display {
    width: 14em;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 1.2em;
    margin-right: 9px;
    margin-top: 5px;
    background-color: azure;
  }

  .current-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    font-size: 2em;
    width: 8.4em;
    margin-right: 5px;
    margin-top: 2px;
    background-color: azure;
  }
  

  .keys {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5px;
    justify-content: center;
  }
 
  .keys button{
    height: 4.9em;
    width: 4.9em;
    border-radius: 5px;
  }

#equal {
    width: 9.9em;
}